
<div id="test_d8-charts">
  <div id="tabs">
    <ul>
{% for id, arr in data.tabs %}
      <li><a href="#tabs-{{ id }}">{{ arr['name'] }} <small>({{ arr['num'] }})</small></a></li>
{% endfor %}
    </ul>

{% for id, arr in data.tabs %}
    <div id="tabs-{{ id }}">
      <div id="chart-{{ id }}"></div>
    </div>
{% endfor %}
  </div>
</div>

