<div class="test_d8-theme-list">
  <div class="row">

    {% for info in data %}
    <div class="col col-sm-3">
        <a href="{{ info.url }}" class="test_d8-theme-select" data-theme="{{ info.name }}" data-numberofquestions="{{ info.number_of_questions }}" data-timetocompletetest="{{ info.time_to_complete_test }}">{{ info.name }}</a>
    </div>

    {% endfor %}
  </div>
</div>
